
$mainWidth: 1170px;
$gap: 20px;

// $mainWidthMob: 1000px;
// $gapMob: 40px;



$mainFontSize: 16px;





$light: #fff;
$dark: #000;

$mainBgCol: #192739; // dark blue
$mainSignCol: #fc1050; // red
$mainSignColHl: #ff3b60; // light red  -- highlight color, hover btns

$stepNumCol: #475e8a;

$mainBgColTrans: rgba(25, 39, 57, 0.35);  // overlay
$topMenuGrad: linear-gradient(to bottom, rgba(26,42,58,0.8) 0%,rgba(26,42,58,0.8) 50%,rgba(26,42,58,0) 100%);  // gradient 

